@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,500&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin : 0;
  padding: 0;
}

:root{
  --cor-menu-lateral: #2A3042;
  --cor-fundo-branco: #E5E5E5;
  --cor-botao: #007BFF;  
  --cor-fonte: #FFFFFF; 
  --cor-fonte-menu: #C3C0C0;
  --cor-label-form: #007BFF;
}